<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/util
	http://www.springframework.org/schema/util/spring-util-2.5.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
       default-autowire="byName">

    <bean id="basicDao" class="com.lk.orm.dao.BaseDaoImpl"/>

    <!--扫描service包(包含子包)下所有使用注解的类型-->
    <context:component-scan base-package="com.lk.dome.**"/>
    <context:annotation-config/>


    <bean id="utilsService" class="com.lk.dome.service.impl.UtilsServiceImpl">
        <property name="map">
            <util:map map-class="java.util.HashMap">
                <entry key="123" value="1"/>
                <entry key="1" value="2"/>
                <entry key="12" value="33"/>
            </util:map>
        </property>
    </bean>


</beans>
